.root-section h1{
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}
.root-section p{
    text-align: center;
}


.category-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.above-part-img-heading{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category-item{
    height: 200px;
    width: 250px;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 10px;
}
.above-part-img-heading img{
    padding: 7px;
    background-color: rgb(231, 194, 241);
    max-width: 30px;
    max-height: 35px;
    border-radius: 3px;
}